* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 400;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}