.about-intro {
    background-image: url("../img/about-intro.jpg");
    height: 450px;
    padding-top: 137px;
    padding-bottom: 137px;
}
.abaut-intro__content {
    width: 445px;
    padding-left: 86px;
}
.abaut-intro__title {
    width: 188px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    font-family: "Fraunes";
    font-weight: 900;
    margin-bottom: 24px;
}
.abaut-intro-text {
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}