.advantage {

}
.advantage__container {
    padding-top: 100px;
    text-align: center;
    position: relative;


    &::before {
        @include section-bg;
        height: 577px;
        content: "";
        top: 0;
    }

}
.advantage__title {
    font-size: 40px;
    color: #FEFCF7;
    margin-bottom: 32px;
    font-family: "Fraunes";
    font-weight: 900;
}
.advantage__text {
    font-size: 16px;
    line-height: 26px;
    color: rgba(254, 252, 247, 0.8);
    mix-blend-mode: normal;
    width: 540px;
    margin: 0 auto 86px;
}
.advantage__list {
    @include reset-list;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.advantage__item {
    margin-right: 30px;
    width: 350px;
    background-color: $accent;
    color: #FEFCF7;
    padding: 200px 48px 48px;
    position: relative;
    border-radius: 8px;


    &:last-child {
        margin-right: 0;
    }
}
.advantage__item--best::before {
    content: "";
    background-image: url("../img/best.png");
    display: block;
    position: absolute;
    top: 72px;
    left: 136px;
    width: 71px;
    height: 72px;
}
.advantage__item--benifit::before {
    content: "";
    background-image: url("../img/benifit.png");
    display: block;
    position: absolute;
    top: 72px;
    left: 136px;
    width: 72px;
    height: 72px
}
.advantage__item--shipping::before {
    content: "";
    background-image: url("../img/shipping.png");
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    width: 72px;
    height: 50px;
    top: 83px;
    left: 136px;
}
.advantage__item-title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 24px;
    font-family: "Fraunes";
    font-weight: 900;
}
.advantage__item-text {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}