.footer {

}
.footer__container {
    background-color: rgba(44, 52, 62, 1);
    padding: 48px 86px;
}
.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__list {
    display: flex;
    list-style: none;
    width: 125px;
    justify-content: space-between;
}
.footer__item {
  
}
@media only screen and (max-width: $tablet) {
    .footer__content {
        padding: 55px 0;
        flex-direction: column;
        align-self: center;
        justify-content: space-between;
        height: 270px;
    }
    .footer__logo {
        margin-bottom: 32px;
    }
}