.header {
    padding: 43px 0;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__btn {
    display: none;
}
@media only screen and (max-width: 540px) {
    .header__nav {
        display: none;
    }
    .header__btn {
        display: inline-block;
    }
}
@media only screen and (max-width: 375px) {
    .header {
        padding: 32px 0;
    }
    .header__logo {
        width: 40px;
        height: 18px;
    }
}