.header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0;
    
    z-index: 3;
    padding: 43px 10px;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__nav {
    display: flex;
    align-items: baseline;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #83888F;   
}
.header__btn {
    display: none;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #fff;
    height: 18px;
    width: 16px;
    &::after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #000;
        display: block;
        border-radius: 2px;
        transition: 0.3s ease all;
    }
    &::before {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #000;
        display: block;
        border-radius: 2px;
        transition: 0.3s ease all;
    }
    &-deskription {
        width: 100%;
        height: 3px;
        background-color: #000;
        display: block;
        margin-top: 3px;
        margin-bottom: 3px;
        border-radius: 2px;
    }
}
.header__btn--opened .header__btn-deskription {
    display: none;
}
.header__btn--opened {
    position: relative;
}
.header__btn--opened::after,
.header__btn--opened::before {
    position: absolute;
    left: 50%;
    top: 50%;
}
.header__btn--opened::after {
    transform: translate(-50%, -50%) rotate(45deg);
}
.header__btn--opened::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}


@media only screen and (max-width: $mobile) {
    .header__logo {
        width: 140px;
        height: 18px;
    }
    .header__nav {
        display: none;
        position: absolute;
        width: 100%;
        height: 550px;
        padding-top: 40px;
        background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
        left: 0;
        top: 100%;
        z-index: 2;
        font-size: 24px;
         line-height: 32px;
         
        & .nav__list {
            display: block;
            margin: 0 auto;
            text-align: center;
            color: #333D4B;
        }
     }
    .header {
        padding: 32px 0;
    }
    .header__btn {
        display: block;
    }
    .header__nav--opened {
        display: flex;
        
    }
}