.main-link {
    width: 217px;
    height: 56px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    padding: 15px 31px;
    border-radius: 6px;
    text-decoration: none;
    font-family: "Fraunes";
    background-color: $accent;
    font-weight: 900;
    &:hover {
        background-color:rgba(102, 210, 207, 1);
    }
    &:active {
        background-color: rgba(226, 222, 219, 1);
    }
}