.nav {
    
}
.nav__list {
    @include reset-list;
    display: flex;
    color: #333D4B;
}
.nav__list-item {
    margin-right: 33px;
    &:last-child {
        margin-right: 0;
    }
}
.nav__list-item-link {
    text-decoration: none;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    font-weight: 700;
    color: #292b2e;
    &:hover {
        color: #333D4B;
    }
}
@media only screen and (max-width: $mobile) {
    .nav__list-item {
        margin: 0;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}