.product {
    padding-top: 196px;
    padding-bottom: 200px;
    position: relative;
}
.product__title {
    font-size: 170px;
    line-height: 1;
    font-family: "Fraunes";
    font-weight: 900;
    position: absolute;
    z-index: -1;
    top: 100px;
    left: calc(50% - 500px);
    position: absolute;
    color: transparent;
    background-color: #83888F;
    background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
    -webkit-background-clip: text;
}
.product__list {
    @include reset-list;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.product__item {
    width: 20%;
    margin-right: 30px;
    text-align: center;
     &::before {
    background-image: url("../img/product-item.png");
    background-repeat: no-repeat;
    background-position: center top;
    content: "";
    display: block;
    height: 193px;
    width: 100%;
    }
}
.product__item:last-child {
    margin-right: 0;
}

.product__item-title {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    font-family: "Fraunes";
    font-weight: 900;
}
.product__item-text {
    color: #333D4B;
    font-size: 16px;
}
@media only screen and (max-width: $tablet) {
    .product__title {
        left: calc(50% - 320px);
        top: 150px;
        font-size: 96px;
         line-height: 72px;
    }
    .product__list {
     flex-direction: column;
     justify-content: center;
     }
     .product__item {
         margin: 0;
         padding: 0;
        display: flex;
        width: calc(100% - 230px);
        text-align: start;
        padding-left: 100px;
        margin-bottom: 30px;
        &::before {
            margin-right: 30px;
        }

    }
    
 }
 
 

    
    